@import '../../../vars.scss';
h2{
    font-family: Leky;
    font-weight: 500;
    letter-spacing: 3px;
}
h1{
    font-family: Leky;
    font-weight: 500;
    font-size: 6rem;
    line-height: 12rem;
    margin: 0px;
}
@keyframes zoom-in {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.profile-img {

    display: block;
    position: absolute;
    width: 40%;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: -10%;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    animation: zoom-in 2s ease;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.title{
    height: 12rem;
    overflow: hidden;
}
.subtitle{
    padding-bottom: 2%;
    h2{
        font-size: 2rem;
        font-weight: 300;
        line-height: 4rem;
        text-shadow: 0 0 5px $cream;
    }
    position: relative;
    z-index: 9;
}
.section-left.section-long {
    width: 100%;
    height: auto;
    max-width: 768px;
    padding-top: 10%;
    padding-bottom: 12%;
    position: relative;
}
.content{
    line-height: 1.9em;
    p{
        text-align: justify;
        margin-bottom: 2rem;
        font-size: 22px;
        font-family: Myfont, sans-serif;
    }
}
.skills-list{
    text-align: justify;
}
.resume{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}
h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Leky;
    letter-spacing: 4px;
}
.skills{
    p{
        line-height: 2rem;
    }
}
.experience{
    padding-top: 3rem;
}
