<div class=about-card>
    <img class=landscape-photo src="../../../assets/images/IMG_2365.JPG">
    <div class=content>
        <div class=title>About Me</div>
        <p>I grew up in Waco, TX. My father had a passion for technology that inspired me to pursue an interest in STEM. From building robots in our garage to joining my high school robotics team, engineering was always one of my favorite hobbies. I started working in Google Sites and Wordpress when I was around 15. I got my first paying clients a few years later.</p>
    </div> 
</div>
<div class=sub-content>
    <p>When I applied to college, Computer Science was the natural choice because I loved the problem-solving challenges of coding. My passion for web development continued through college and I sought opportunities in college to get more experience in that field. I got a job at an insurance brokerage as a business analyst. After a few months at the company, an opening for a web developer became available and my boss approached me because of my resume experience.</p>
    <p>The management provided an encouraging and stimulating environment in which I could further develop my skills. I learned about design, user experience, and data analytics as the website continued to grow. After a year, I was even able to hire more developers on the team and even became the head of web development at the company.</p>
    <p>After I graduated, I accepted an offer as a front-end developer for Citibank. Although I wasn't familiar with Javascript frameworks at the time, I quickly learned that Angular was very similar to the work I had been doing before. Now, I'm proficient in Angular and use it to make sites like this one!</p>
    <p>In my spare time I like to develop projects that I think people could use and enjoy. You can find the more successful ones posted on the projects page of this site.</p>
 </div>
 