<div [@pageLoaderAnimation]="showLoader ? 'visible' : 'hidden'" class="dark-loader"></div>
<div class=parent-container>
<div class=wrapper>
  <div class="section-left section-long">
       <div class=title><h1 [ngClass]="showLoader ? '' : 'slide-up'">bout</h1></div>
    <div class=subtitle><h2>Hi there, let's get to know each other</h2></div>
    <img class=profile-img src="../../../assets/images/profile.png">
    <div class=content>
        <p>I grew up in Waco, TX. My father had a passion for technology that inspired me to pursue an interest in STEM. From building robots in our garage to joining my high school robotics team, engineering was always one of my favorite hobbies. I started working in Google Sites and Wordpress when I was around fifteen. I got my first paying clients a few years later.</p>
        <p>When I applied to college, Computer Science was the natural choice because I loved the problem-solving challenges of coding. My passion for web development continued through college and I sought opportunities in college to get more experience in that field. I got a job at an insurance brokerage as a business analyst. After a few months at the company, an opening for a web developer became available and my boss approached me because of my resume experience.</p>
        <p>The management provided an encouraging and stimulating environment in which I could further develop my skills. I learned about design, user experience, and data analytics as the website continued to grow. After a year, I was even able to hire more developers on the team and even became the head of web development at the company.</p>
        <p>After I graduated, I accepted an offer as a front-end developer for Citibank. Although I wasn't familiar with Javascript frameworks at the time, I quickly learned that Angular was very similar to the work I had been doing before. Now, I'm proficient in Angular and use it to make sites like this one!</p>
        <p>In my spare time I like to develop projects that I think people could use and enjoy. You can find the more successful ones posted on the projects page of this site.</p>
    </div>  
    <div class=experience>
      <h3>Experience</h3>
      <p>- Degree in Computer Science, Minor in Business</p>
      <p>- 7+ years of experience in Front End Web Development</p>
      <br>
      <p>Within those 7 years, I have:</p>
      <br>
      <p>- 5 years of experience with Angular</p>
      <p>- 5 years of experience in Accessible Web Development</p>
      <p>- 3 years of experience developing and maintaining common component libraries</p>
      <p>- 2 years of experience as a development lead</p>
    </div>
    <div class="resume"><button><a href="assets/EasterResume2024.pdf" target="blank">Resumé</a></button></div>
   
    <div class=skills>
      <h3>Skills</h3>
      <p class=skills-list>Angular / Javascript / HTML / CSS / SCSS / UX Design / Agile Methodologies / StencilJS / Jest / Accessibility / WCAG2 Compliancy / Development for JAWS, VoiceOver, NVDA</p>  
    </div>
    <h3>Git Stats</h3>
    <div class="widget-container">
        <iframe 
          src="https://github-readme-stats.vercel.app/api?username=easter97&show_icons=true&theme=ambient_gradient&hide_rank=true"
          width="100%" 
          height="200px" 
          style="border:none;overflow:hidden;" 
          allowfullscreen="true" 
          scrolling="no" 
          frameborder="0">
        </iframe>
      </div>
      <div class="widget-container">
        <iframe 
          src="https://github-readme-stats.vercel.app/api/top-langs/?username=easter97&exclude_repo=ColorSpot&layout=donut"
          width="100%" 
          height="200px" 
          style="border:none;overflow:hidden;" 
          allowfullscreen="true" 
          scrolling="no" 
          frameborder="0">
        </iframe>
      </div>
    </div>  
</div>



 