$mauve: #c39aa5;
$dark-pink:#ddaeae;
$light-pink:#edc6bb;
$baby: #fedcc8;
$cream:#fef2dc;
$baby-blue:#99c6d9;
$dark-blue:#407290;
$purple:#817985;
.about-card{
    margin:0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    background-color:$cream;
    border-radius:12px 12px 0 0;
    .landscape-photo{
        height:250px;
        width:316px;
        margin:10px;
    }
    .title{
        font-family: 'Arvo', serif;
        font-size:40px;
        text-align: center;
    }
    .content{
        padding:20px;
        p{
            line-height: 35px;
            text-align: justify;
        }
        flex:2;
    }
   
}
.sub-content{
    margin:0 10% 0 10%;
    background-color: $cream;
        border-radius: 0 0 12px 12px;
        padding:15px;

    p{
        line-height: 35px;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {
    .about-card{
        margin:0 3% 0 3%;
        .content{
            p{
                text-align: left;
            }
        }
    }
    .sub-content{
        margin:0 3% 0 3%;
        p{
            text-align: left;
        }
    }
}
