$mauve: #c39aa5;
$dark-pink:#ddaeae;
$light-pink:#edc6bb;
$baby: #fedcc8;
$cream:#fef2dc;
$baby-blue:#99c6d9;
$dark-blue:#407290;
$purple:#817985;
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.mobile-header{
  display:none;
}
nav {
    &.desktop-header{
      z-index: 600;
      width: 6%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5%;
      padding-bottom: 30px;
      display: flex;
      position: fixed;
      .nav-line {
        width: 1px;
        height: 100px;
        background-color: #1a1818;
        margin-top: 10px;
        margin-bottom: 80px;
      }
      .nav-left-item.nav-copyright {
        width: 110px;
        position: relative;
        top: 35vh;
        left: 0%;
        right: 0%;
      }
      .nav-left-item {
        flex: 0 auto;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 15px;
        transform: rotate(-90deg);
        &.long{
          margin-bottom: 90px;
        }
        &.icon{
          transform: rotate(0deg);
          img{
            height: 25px;
            width: 25px;
            transition: all 1s ease;
            &:hover{
              transform: scale(1.2,1.2);
            }
          }
        }
      }
      .copyright {
        text-align: center;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        font-weight: 500;
      }
      .nav-left-link {
        color: #1a1818;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        border: 0 solid #000;
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s ease;
        display: block;
        &:hover{
          text-decoration: underline;
        }
      }
      &.light{
        .nav-left-link{
          color: $cream;
        }
        .nav-line{
          background-color: $cream;
        }
      }
    }

  }
  
  a {
  
      text-decoration: none;
  
      &:hover {
          color: $mauve;
      }
   
  }
  
  .menu-items li ul li a { transition: all 0.5s ease; }
  
  .fa{
      padding-left:5px;
  }
  @media only screen and (max-width: 600px) {
    .mobile-header{
      display:block;
    }
    nav{
      &.mobile-header{
        z-index: 600;
        width: 100%;
        // height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        .nav-line {
          height: 1px;
          width: 100px;
          background-color: #1a1818;
          // margin-bottom: 20px;
        }
        .line-wrapper{
          flex-basis: 100%;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .nav-left-item.nav-copyright {
          width: 110px;
          position: relative;
          top: 35vh;
          left: 0%;
          right: 0%;
        }
        .nav-left-item {
          flex: 0 auto;
          // margin-bottom: 20px;
          padding-left: 20px;
          padding-right: 15px;
          // transform: rotate(-90deg);
          &.long{
            // margin-bottom: 90px;
          }
          &.icon{
            // flex-grow: 1;
            // transform: rotate(0deg);
            img{
              height: 25px;
              width: 25px;
              transition: all 1s ease;
              &:hover{
                transform: scale(1.2,1.2);
              }
            }
          }
        }
        .copyright {
          text-align: center;
          letter-spacing: 4px;
          font-family: Montserrat, sans-serif;
          font-size: 10px;
          font-weight: 500;
        }
        .nav-left-link {
          color: #1a1818;
          text-align: center;
          letter-spacing: 5px;
          text-transform: uppercase;
          border: 0 solid #000;
          font-family: Montserrat, sans-serif;
          font-size: 10px;
          font-weight: 500;
          text-decoration: none;
          transition: all .3s ease;
          display: block;
          &:hover{
            text-decoration: underline;
          }
        }
        &.light{
          .nav-left-link{
            color: $cream;
          }
          .nav-line{
            background-color: $cream;
          }
        }
      }
      &.desktop-header{
        display: none;
      }
    }
    .site-title{
      // margin: 0 auto;
      // display: inline-block;
      // padding: 0 30px;
      // position: relative;
      // text-decoration: none;
      text-align: center;
      font-family: 'Arvo', serif;
      font-size:40px;
      text-align: center;
    }
  }