<nav role="navigation" class="desktop-header" [class.light]="isDarkMode">
    <div class="nav-left-item icon">
      <a href="https://www.linkedin.com/in/amanda-easter-b0656a103/" class="nav-left-link"><img title="Linkedin" src="{{ isDarkMode ? 'assets/images/linkedin-light.png' : 'assets/images/linkedin.png'}}" /></a>
    </div>
    <div class="nav-left-item icon">
      <a href="https://github.com/easter97" class="nav-left-link"><img title="GitHub" src="{{isDarkMode ? 'assets/images/git-light.png' : 'assets/images/git.png'}}" /></a>
    </div>
  <div class="nav-line"></div>
  <div class="nav-left-item long">
    <a routerLink='/home' class="nav-left-link">home</a>
  </div>
  <div class="nav-left-item long">
    <a routerLink='/projects' class="nav-left-link">projects</a>
  </div>
  <div class="nav-left-item long">
    <a routerLink='/about' class="nav-left-link">about</a>
  </div>
  <div class="nav-left-item long">
    <a class="nav-left-link" href="https://dev.to/amandamandashow" target="_blank">blog</a>
  </div>
</nav>

<nav role="navigation" class="mobile-header" [class.light]="isDarkMode">

<div class="nav-left-item long">
  <a routerLink='/home' class="nav-left-link">home</a>
</div>
<div class="nav-left-item long">
  <a routerLink='/projects' class="nav-left-link">projects</a>
</div>
<div class="nav-left-item long">
  <a routerLink='/about' class="nav-left-link">about</a>
</div>
<div class="nav-left-item long">
  <a class="nav-left-link" href="https://dev.to/amandamandashow" target="_blank">blog</a>
</div>
<span class=line-wrapper>
  <div class="nav-left-item icon">
    <a href="https://www.linkedin.com/in/amanda-easter-b0656a103/" class="nav-left-link"><img title="Linkedin" src="{{ isDarkMode ? 'assets/images/linkedin-light.png' : 'assets/images/linkedin.png'}}" /></a>
  </div>
  <div class="nav-line"></div>
  <div class="nav-left-item icon">
    <a href="https://github.com/easter97" class="nav-left-link"><img title="GitHub" src="{{isDarkMode ? 'assets/images/git-light.png' : 'assets/images/git.png'}}" /></a>
  </div>
</span>
</nav>