#myregistry-container{
    padding-top: 75px;
}
.wishlist{
    width: 94%;
    float: right;
    height: 100vh;
}
@media only screen and (max-width: 600px) {
    .wishlist{
        width: 100%;
        margin-top:109px;
    }
}