<!-- 
<div class=container>
    <div class=portfolio>
        <div class=primary>Portfolio</div>
        <div class='shadow'>Portfolio</div>
        <div class='shadow'>Portfolio</div>
        <div class='shadow'>Portfolio</div>
    </div>
    <img class=photo src='../../../assets/images/IMG_0043.JPG'>
</div>
<div class=site-desc>
    <h1>This site is home to my portfolio of work and information about me.</h1>
    <p>Take a look around to learn more about me, what I do, and projects that I've been working on.</p>
    <div class=links>
        <a class=big-link routerLink='/projects' routerLinkActive="is-active"><div class="streak mauve"></div>Projects</a>
        <a class=big-link routerLink='/about' routerLinkActive="is-active"><div class="streak blue"></div>About Me</a>
        <a class=big-link routerLink='/resume' routerLinkActive="is-active"><div class="streak orange"></div>Resume</a>
    </div>
</div>
<div class=about-me>
    <div class=container>
        <img class=photo src='../../../assets/images/IMG_0022.JPG'>
        <div class=desc>
            <h1>Hi, I'm Amanda Easter.</h1>
            <h6>Front-End Developer</h6>
            <p>I've been developing web sites since I was in high school. I started with Wordpress and worked my way up to working in Javascript, HTML, and CSS. Now, I am an Angular developer and use my spare time to make sites like this one!</p>
            <a routerLink="/about" class=about-button>More About Me</a>
        </div>
    </div>
</div>
<div class=connect>
    <div class=container>
        <div class=desc>
            <h1>Going so soon?</h1>
            <h4>Let's stay in touch.</h4>
            <div class=socials>
                <a href="https://www.linkedin.com/in/amanda-easter-b0656a103/" target="_blank" class="orb linked" title="LinkedIn"></a>
                <a href="https://github.com/easter97" target="_blank" class="orb git" title="GitHub"></a>
            </div>
        </div>
    </div>
</div> -->
<div [@pageLoaderAnimation]="showLoader ? 'visible' : 'hidden'" class="dark-loader"></div>
<div class=container>
    <div class=info>
        <div class=name><h1 [ngClass]="showLoader ? '' : 'slide-up-faster'">Amanda Easter</h1></div>
            <div class=title ><p [ngClass]="showLoader ? '' : 'slide-up'">Software & Web Developer / Computer Science Engineer</p></div>
            <div class=current ><p [ngClass]="showLoader ? '' : 'slide-up'">Currently working full time as a Senior Software Developer at Turnitin</p></div>


    </div>
    <div class="link-list fade" [class.fade-revealed]="!showLoader">
        <div class=item routerLink='/resume'>experience</div>
        <div class=item routerLink='/projects'>projects</div>
        <div class=item routerLink='/about'>bout</div>
        <div class=item>ontact</div>
    </div>
</div>