$mauve: #c39aa5;
$dark-pink:#ddaeae;
$light-pink:#edc6bb;
$baby: #fedcc8;
$cream:#fef2dc;
$baby-blue:#99c6d9;
$dark-blue:#407290;
$purple:#817985;

.container{
    display: flex;
    align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.photo{
    height:400px;
    margin:10px;
}
.desc{
    // height:400px;
    margin:10px;
    padding:20px;
    font-size:35px;
    text-align: center;
    
    h3{
        font-family: "Quicksand", sans-serif;
        margin:10px;
    }
}
.site-desc{
    text-align: center;
    padding:50px;
}
.about-me{
    background-color: $cream;
    text-align: center;
    padding:50px;
    .desc{
        width:600px;
        h1{
            font-size: 45px;
        }
        h6{
            margin:0;
        }
        p{
            
            line-height:35px;
        }
    }
}
.links{
    margin:45px;
}
.about-button{
    background-color: black;
    color:$cream;
    font-size: 25px;
    text-decoration: none;
    padding:10px 20px 10px 20px;
    &:hover{
        cursor: pointer;
        background-color: $dark-blue;
    }
}
.socials{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.orb{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-clip: border-box;
    margin:20px;
    transition: all 0.2s ease-in-out;
    &.linked{
        background-image: url(../../../assets/images/linkedin.png);
    }
    &.git{
        background-color: white;
        background-image: url(../../../assets/images/git.png);
    }
    &:hover{
        cursor: pointer;
        transform: scale(1.25, 1.25);
    }
}
@media only screen and (max-width: 600px) {
    .about-button{
        font-size:15px;
    }
}
