@import '../../../vars.scss';
.project{
    display: flex;
    flex-wrap: wrap;
    margin:50px 10% 50px 10%;
    background-color: $cream;
    padding:35px;
    border-radius:12px;
    .project-content{
        flex:2;

        .project-title{
            font-family:'Arvo', serif;
            font-size:25px;
            margin-bottom:25px;
            .collaborative{
                float: right;
                font-size: 15px;
                color:$mauve;
            }
        }
        .description{
            font-size:20px;
        }
        .project-link{
            display: block;
            margin:10px;
            font-size:20px;
            color:$purple;
            text-decoration: none;
            &:hover{
                color:$dark-blue;
                cursor: pointer;
            }
        }
    }
    .project-icon{
        flex:1;
        max-width:150px;
        height: 150px;
        border-radius:10px;
        margin-right:20px;
    }
}
@media only screen and (max-width: 600px) {
    .project{
        .project-content{
            margin-top:20px;
            .project-title{
                font-family:'Arvo', serif;
                font-size:25px;
                margin-bottom:25px;
                text-align: center;
                .collaborative{
                    display: block;
                    float: none;
                    font-size: 15px;
                    color:$mauve;
                    text-align: center;
                }
            }
            .project-link{
                text-align: center;
            }
        }
        .project-icon{
            margin:auto;
        }
        
    }
}

.container{
    display: flex;
    align-items: center;
  justify-content: space-evenly;
//   flex-wrap: wrap;
  min-height: 100vh;
    padding-left: 65px;
    width: 100%;
    .info{
        font-size: 13px;
        font-weight: 400;
        line-height: 1.9em;
        width: 30%;
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        align-items: flex-start;
        justify-content: flex-end;
        p{
            color: $cream;
        }
        .name{
            // height: 50px;
            overflow: hidden;
        }
        .title, .current{
            overflow: hidden;
            // height: 50px;
        }

        h1{
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
        }
    }
    .link-list{
        padding-bottom: 2%;
        font-size: 3.5vw;
        line-height: 7vw;
        margin-left: 5rem;
        .nav-sub {
            grid-column-gap: 8px;
            grid-row-gap: 8px;
            margin-top: -18px;
            margin-bottom: 24px;
            display: flex;
        }
        .role {
            letter-spacing: 2px;
            text-transform: uppercase;
            align-self: flex-end;
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            font-family: Montserrat;
        }
        .badge {
            background-color: $cream;
            color: $charcoal;
            border-radius: 20px;
            align-self: center;
            padding: 0 8px;
            font-size: 11px;
            font-weight: 600;
            line-height: 20px;
            font-family: Montserrat;
        }
        .w-condition-invisible {
            display: none !important;
        }
    }
}