<div class=project-list>
    <div class=project>
        <img class=project-icon src="../../../assets/images/spotify.png">
        <div class=project-content>
            <div class=project-title>Spotify Comparison</div>
            <div class=description>
                This Angular app is designed to allow Spotify users to compare their playlist with another Spotify user's to determine how similar the music tastes are.
                <a class=project-link href="/spotify"><i class="fa fa-angle-right" aria-hidden="true"></i> Project Link</a>
                <a class=project-link href="https://github.com/easter97/spotify-comparison"><i class="fa fa-angle-right" aria-hidden="true"></i> Repository</a>
            </div>
        </div>
    </div>

    <div class=project>
        <img class=project-icon src="../../../assets/images/ColorSpot Logo.png">
        <div class=project-content>
            <div class=project-title>ColorSpot <span class=collaborative>collaborative</span></div>
            <div class=description>
                This application is designed to assist users that suffer from color blindness by providing a tool for color identification on macOS. Users can hover their mouse on the screen and a color is determined from a range of RGB values.
                <a class=project-link href="https://github.com/easter97/ColorSpot"><i class="fa fa-angle-right" aria-hidden="true"></i> Repository</a>
            </div>
        </div>
    </div>
</div>